body {
    font: 12px/18px Arial, Helvetica, sans-serif;
    background: #eee;
    min-width: 920px;
    color: #000;
}

a {
    color: #66afe9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    border: 1px solid #2f6da4;
    border-radius: 4px;
    background-color: #337ab7;
    color: #fff;
    font-size: 14px;
    padding: 6px 12px;
    cursor: pointer;
}

.button .glyphicon {
    top: 6px;
    margin-top: -6px;
    margin-bottom: -2px;
}

.button:hover {
    background-color: #154772;
    border-color: #1b3e5e;
}

.application-box {
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 8px;
    position: relative;
    margin: 100px auto 0;
    padding: 18px 20px;
    width: 904px;
    box-shadow: 0 0 15px #808080;
}

.form-box {
    width: 464px;
}

.header {
    padding: 4px 50px 10px 0;
    border-bottom: 2px solid #999;
    margin-bottom: 12px;
    position: relative;
}

.header h1 {
    font-size: 22px;
}

.header .glyphicon {
    font-size: 24px;
    position: absolute;
    right: 0;
}

.form-box .row {
    margin-bottom: 10px;
}

.form-box .row:after {
    display: block;
    clear: both;
    content: "";
}

.form-box .row .input-label {
    float: left;
    margin-top: 8px;
    width: 30%;
}

.form-box .row .right-column {
    float: right;
    width: 60%;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 27px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 5px;
}

.form-box .row .right-column .input {
    margin-bottom: 6px;
}

.input:focus {
    border: 2px solid #59cbee;
    box-shadow: 0 0 10px #59cbee;
}

.form-box .row .error-message {
    color: #f00;
    line-height: 19px;
}

.form-box .right-column .form-link {
    float: right;
    margin-top: 9px;
}

.application-box .logo {
    position: absolute;
    left: 0;
    top: -70px;
}

.application-box .menu {
    position: absolute;
    right: 14px;
    top: -36px;
}

.application-box .menu .glyphicon {
    font-size: 16px;
    margin: 0 4px;
}

.application-box .menu li {
    display: inline;
    padding: 0 10px;
    border-left: 1px solid #000;
}

.application-box .menu li:first-child {
    border-style: none;
}

.file-list {
    height: 600px;
    overflow: auto;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table tr {
    border-bottom: 1px solid #999;
}

.table tbody tr:hover {
    background-color: #f4f4f4;
}

.glyphicon {
    font-size: 20px;
    top: 4px;
}

.current-directory {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #fff;
    padding: 12px 0 20px;
    border-bottom: 1px solid #999;
}

.current-directory .folder-icon {
    display: inline-block;
    padding: 0 14px;
}

.current-directory .directory-name {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 1px;
}

.current-directory .action-buttons {
    position: absolute;
    right: 0;
    top: 10px;
}

.table tbody td.cell-filename .name {
    display: inline;
}

.table tbody td.cell-filename .input,
.table tbody tr.editing td.cell-filename .name {
    display: none;
}

.table tbody tr.editing td.cell-filename .input {
    width: 300px;
    margin-bottom: -5px;
    display: inline-block;
}

.table td {
    vertical-align: middle;
    padding: 13px 10px;
}

.table .cell-icon {
    width: 22px;
}

.table td.cell-filename {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table td.cell-filename .glyphicon {
    margin-right: 8px;
}

.table td.cell-count {
    width: 80px;
    text-align: center;
}

.table td.cell-actions {
    width: 100px;
    text-align: center;
}

.table td.cell-actions .glyphicon {
    cursor: pointer;
}

.table td.cell-actions .glyphicon-upload {
    color: #6ebd4b;
}

.table td.cell-actions .glyphicon-download {
    color: #09a0d9;
}

.table td.cell-actions .glyphicon-remove-circle {
    color: #d01f31;
}

.table tbody td.cell-actions .glyphicon {
    opacity: 0;
}

.table tbody tr:hover td.cell-actions .glyphicon {
    opacity: 1;
}

.footer {
    border-top: 2px solid #999;
    text-align: center;
    padding-top: 12px;
}
