body {
    font: 12px/18px Arial, Helvetica, sans-serif;
    background: #eee;
    min-width: 920px;
}

a {
    color: #66afe9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    border: 1px solid #2f6da4;
    border-radius: 4px;
    background-color: #337ab7;
    color: #fff;
    font-size: 14px;
    letter-spacing: -0.01em;
    padding: 6px 12px;
}

.button:hover {
    background-color: #154772;
    border-color: #1b3e5e;
}

.application-box {
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 8px;
    position: relative;
    margin: 100px auto 0;
    padding: 18px 20px;
    width: 904px;
    box-shadow: 0 0 15px #808080;
}

.form-dialog {
    width: 464px;
}

.header {
    padding-top: 4px;
    padding-bottom: 10px;
    padding-right: 50px;
    border-bottom: 2px solid #999;
    margin-bottom: 12px;
    position: relative;
}

.header h1 {
    font-size: 22px;
}

.header .glyphicon {
    font-size: 24px;
    position: absolute;
    right: 0;
}

.form-dialog .row {
    margin-bottom: 10px;
}

.form-dialog .row:after {
    display: block;
    clear: both;
    content: "";
}

.form-dialog .row .input-label {
    float: left;
    margin-top: 8px;
    width: 30%;
}

.form-dialog .row .input-block {
    float: right;
    width: 60%;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 27px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 5px;
}

.form-dialog .row .input-block .input {
    margin-bottom: 6px;
}

.input:focus {
    border: 2px solid #59cbee;
    box-shadow: 0 0 10px #59cbee;
}

.form-dialog .row .error-message {
    color: #f00;
    line-height: 19px;
}

.form-dialog .form-footer {
    float: right;
    width: 60%;
}

.form-dialog .form-footer .form-link {
    float: right;
    margin-top: 9px;
}

.application-box .logo {
    position: absolute;
    left: 0;
    top: -70px;
}

.application-box .menu {
    position: absolute;
    right: 14px;
    top: -36px;
    letter-spacing: 0.03em;
}

.application-box .menu .glyphicon {
    font-size: 16px;
}

.application-box .menu li {
    display: inline;
    padding: 0 10px;
    border-left: 1px solid #000;
}

.application-box .menu li:first-child {
    border-style: none;
}

.file-list {
    height: 600px;
    overflow: auto;
}

.files {
    width: 100%;
}

.files tr {
    border-bottom: 1px solid #999;
}

.files tbody tr:hover {
    background-color: #f4f4f4;
}

.files thead th {
    padding: 10px 0 10px 12px;
}

.glyphicon {
    font-size: 20px;
}

.files thead .current-directory {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.files thead .current-directory .directory-name {
    font-size: 24px;
    font-weight: bold;
}

.files td {
    vertical-align: middle;
    text-align: center;
    padding: 15px 10px;
}

.files .icon-cell {
    width: 22px;
}

.files td.filename {
    text-align: left;
}

.files td.count {
    width: 80px;
}

.files td.cell-actions {
    width: 100px;
}

.files td.cell-actions .glyphicon-upload {
    color: #6ebd4b;
}

.files td.cell-actions .glyphicon-remove-circle {
    color: #d01f31;
}

.files tbody td.cell-actions .glyphicon {
    opacity: 0;
}

.files tbody tr:hover td.cell-actions .glyphicon {
    opacity: 1;
}

.footer {
    border-top: 2px solid #999;
    text-align: center;
    padding-top: 12px;
    letter-spacing: 0.04em;
}